<div class="container">
    <div class="row">

        <!-- Sidebar Izquierda -->
        <nav class="col-md-3 col-lg-2 d-md-block sidebar p-3">
            <h5 class="fw-bold mb-3">Acciones</h5>
            <ul class="nav flex-column">
                <li>
                    <a [routerLink]="[rutas.Alumnos]" routerLinkActive="active">Ver lista de estudiantes</a>
                </li>
                <li>
                    <a [routerLink]="[rutas.Cursos]" routerLinkActive="active">Cursos</a>
                </li>
                <li>
                    <a [routerLink]="[rutas.Inscripciones]" routerLinkActive="active">Inscripciones</a>
                </li>
            </ul>
        </nav>

        <!-- Contenido Principal -->
        <main class="col-md-9 ms-sm-auto col-lg-10 content">

            <router-outlet></router-outlet>

            <!-- <ng-container *ngIf="activeSection === 'students'">
                <app-students-table [students]="students"></app-students-table>
            </ng-container>

            <ng-container *ngIf="activeSection === 'add'">
                <app-add-form (studentAdded)="addStudent($event)"></app-add-form>
            </ng-container>

            <ng-container *ngIf="activeSection === 'delete'">

                <app-delete-form (studentDeleted)="deleteStudent($event)"></app-delete-form>

            </ng-container>

            <ng-container *ngIf="activeSection === 'edit'">
                <app-edit-form (studentEdited)="editStudent($event)"></app-edit-form>
            </ng-container> -->


        </main>


    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>